<!DOCTYPE html>
<html lang="pl">
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Potwierdzenie przyjęcia zamówienia.</title>
</head>
<body>
<h1>Cześć {{user.getFirstname()}}!</h1>
<p>Naprawa twojwj drukarki została przyjęta do realizacji. Będziemy informować mailowo na jakim etapie jest naprawa.</p>
<p>Bardzo dziękujemy za skorzystanie z naszych usług.</p>
<p>Twoje ID to: {{user.getUuid()}}</p>
</body>
</html>
</html>